#root {
  margin: 0 auto;
  text-align: center;
}

.about {
  height: 410px;
  max-width: 720px;
}

.info {
  top: -105px;
  margin-bottom: -50px;
  max-width: 660px;
  min-height: 190px;
}

.info:hover {
  transform: scale(1.02);
}

.about .profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: -225px;
}

.gallery {
  max-width: 720px;
}

.galleryImage {
  object-fit: cover;
  width: calc(50% - 12px);
  height: 250px;
  border-radius: 15px;
  margin: auto;
}

.galleryImage:hover {
  transform: scale(1.03);
}

.education {
  max-width: 700px;
}

.experience {
  max-width: 700px;
}

.community {
  max-width: 700px;
}


.experienceCard {
  max-width: 700px;
}

.projectCard {
  max-width: 338px;
}

.sidebar-item {
  transition: transform 0.3s ease;
}

.sidebar-item:hover {
  transform: scale(1.1);
}

.sidebar {
  height: 348px;
}

@media screen and (max-width: 999px) {
  .sidebar {
      display: none;
  }
}

@media screen and (min-width: 1000px) {
  .sidebar {
      display: flex;
      flex-direction: column;
  }
}

